<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="icon" href="./images/day-clear-512.png" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created with Node.js. It uses data from mapquest.com and darksky.net</p>
    </div>
    {{>footer}}
</body>

</html>