<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Help</title>
    <link rel="icon" href="./images/day-clear-512.png" />{}
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Help will appear here</p>
    </div>
    {{>footer}}
</body>

</html>